<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Common:header" />
    <style>
        .table-text-lg {vertical-align: middle !important;}
        .underline-input {
            border-top: none !important;
            border-left: none !important;
            border-right: none !important;
            border-bottom: 1px solid #000 !important;
            width: 40px;
        }
    </style>
</head>
<body class="no-skin">
    <!-- #section:basics/navbar.layout -->
    <include file="Common:top_maps" />
    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    <!-- #section:basics/sidebar -->
    <div id="sidebar" class="sidebar responsive">
        <include file="Common:left_maps" />
    </div>

    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <!-- #section:basics/content.breadcrumbs -->
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="{:U('pd/hy')}">线缆【班前/后】会列表</a>
                </li>
                <!-- <li class="active">**</li> -->
            </ul><!-- /.breadcrumb -->
            <!-- /section:basics/content.searchbox -->
        </div>
        <!-- /section:basics/content.breadcrumbs -->
        <div class="page-content">
            <div class="page-content-area">
                <div class="page-header">
                    <h1>
                        编辑
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            施作业票班前、班后会记录单
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <form action="__SELF__" method="post">
                    <input type="hidden" name="id" value='{$record["id"]}'>
                    <table class="table table-striped table-bordered table-hover no-footer">
                        <tbody>
                        <tr role="row" class="odd">
                            <td class="center table-text-lg col-sm-2">
                                作业票编号
                            </td>
                            <td class="col-sm-5">
                                <input type="text" name="gongdanbianhao"  class="col-xs-10 col-sm-12" value="{$record.gongdanbianhao}" readonly>
                            </td>
                            <td class="center table-text-lg">
                                施工负责人
                            </td>
                            <td>
                                <input type="text" name="shigongfuzeren" placeholder="施工负责人" class="col-xs-10 col-sm-12" value="{$record['shigongfuzeren']}">
                            </td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="center table-text-lg">
                                工作内容
                            </td>
                            <td colspan="3">
                                <table class="table table-striped table-bordered table-hover no-footer">
                                    <tr>
                                        <td class="center table-text-lg">分项作业</td>
                                        <td class="center table-text-lg">作业人员</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" name="fenxiangzuoye1" value="{$fenxiangzuoye1}" class="col-xs-10 col-sm-12">
                                        </td>
                                        <td>
                                            <input type="text" name="zuoyerenyuan1" value="{$zuoyerenyuan1}" class="col-xs-10 col-sm-12">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" name="fenxiangzuoye2" value="{$fenxiangzuoye2}" class="col-xs-10 col-sm-12">
                                        </td>
                                        <td>
                                            <input type="text" name="zuoyerenyuan2" value="{$zuoyerenyuan2}" class="col-xs-10 col-sm-12">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" name="fenxiangzuoye3" value="{$fenxiangzuoye3}" class="col-xs-10 col-sm-12">
                                        </td>
                                        <td>
                                            <input type="text" name="zuoyerenyuan3" value="{$zuoyerenyuan3}" class="col-xs-10 col-sm-12">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" name="fenxiangzuoye4" value="{$fenxiangzuoye4}" class="col-xs-10 col-sm-12">
                                        </td>
                                        <td>
                                            <input type="text" name="zuoyerenyuan4" value="{$zuoyerenyuan4}" class="col-xs-10 col-sm-12">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr role="row" class="odd">
                            <td colspan="4">
                                <table class="table table-striped table-bordered table-hover no-footer">
                                    <tr>
                                        <td class="center table-text-lg col-sm-1">序号</td>
                                        <td class="center table-text-lg">班前会安全教育内容</td>
                                        <td class="center table-text-lg col-sm-1">执行（√）</td>
                                    </tr>
                                    <tr>
                                        <td class="center table-text-lg col-sm-1">1</td>
                                        <td class="table-text-lg">
                                            向工作班成员宣读安全施工作业票所列工作任务、安全注意事项
                                        </td>
                                        <td class="center table-text-lg col-sm-1">
                                            <label>
                                                <input name="jiaoyuneirong[]" type="checkbox" class="ace" value="1"  <php> if(in_array(1 , $jiaoyuneirong )) { echo 'checked="checked"';} </php> />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center table-text-lg col-sm-1">2</td>
                                        <td class="table-text-lg">
                                            进入施工现场必须正确使用安全帽及其他安全劳保用品。携带“施工证”上岗
                                        </td>
                                        <td class="center table-text-lg col-sm-1">
                                            <label>
                                                <input name="jiaoyuneirong[]" type="checkbox" class="ace" value="2"  <php> if(in_array(2 , $jiaoyuneirong )) { echo 'checked="checked"';} </php> />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center table-text-lg col-sm-1">3</td>
                                        <td class="table-text-lg">
                                            所有安全工器具使用必须检查，严禁使用不合格工器具超载使用
                                        </td>
                                        <td class="center table-text-lg col-sm-1">
                                            <label>
                                                <input name="jiaoyuneirong[]" type="checkbox" class="ace" value="3"  <php> if(in_array(3 , $jiaoyuneirong )) { echo 'checked="checked"';} </php> />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center table-text-lg col-sm-1">4</td>
                                        <td class="table-text-lg">
                                            要求班员在作业中互相关心施工安全。及时纠正各类习惯性违章作业行为
                                        </td>
                                        <td class="center table-text-lg col-sm-1">
                                            <label>
                                                <input name="jiaoyuneirong[]" type="checkbox" class="ace" value="4"  <php> if(in_array(4 , $jiaoyuneirong )) { echo 'checked="checked"';} </php> />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center table-text-lg col-sm-1">5</td>
                                        <td class="table-text-lg">
                                            出工前“两交一查”交代工作任务、停电范围、安全措施、技术措施、岗位分工其他注意事项，查人员健康、精神状态、电动工器具是否完备良好等
                                        </td>
                                        <td class="center table-text-lg col-sm-1">
                                            <label>
                                                <input name="jiaoyuneirong[]" type="checkbox" class="ace" value="5"  <php> if(in_array(5 , $jiaoyuneirong )) { echo 'checked="checked"';} </php> />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center table-text-lg col-sm-1">6</td>
                                        <td class="table-text-lg">
                                            掌握施工设计图纸设备、开关安装程序，有关技术参数要求
                                        </td>
                                        <td class="center table-text-lg col-sm-1">
                                            <label>
                                                <input name="jiaoyuneirong[]" type="checkbox" class="ace" value="6"  <php> if(in_array(6 , $jiaoyuneirong )) { echo 'checked="checked"';} </php> />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center table-text-lg col-sm-1">7</td>
                                        <td class="table-text-lg">
                                            在安装过程中，发现线路设备、开关等设备存在缺陷和异常情况，要求及时和施工负责人汇报，以便及时解决不合格设备产品
                                        </td>
                                        <td class="center table-text-lg col-sm-1">
                                            <label>
                                                <input name="jiaoyuneirong[]" type="checkbox" class="ace" value="7"  <php> if(in_array(7 , $jiaoyuneirong )) { echo 'checked="checked"';} </php> />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center table-text-lg col-sm-1">8</td>
                                        <td class="table-text-lg">
                                            完成后，应全面检查安装质量标准 工艺要求，是否存在不安全因素，由施工负责组织班员进行自验收合格工程
                                        </td>
                                        <td class="center table-text-lg col-sm-1">
                                            <label>
                                                <input name="jiaoyuneirong[]" type="checkbox" class="ace" value="8"  <php> if(in_array(8 , $jiaoyuneirong )) { echo 'checked="checked"';} </php> />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center table-text-lg col-sm-1">9</td>
                                        <td class="table-text-lg">
                                            加强作业现场安全文明施工日常管理，做到工器具、材料等设备按规定进行堆放整齐有序，保持文明施工，现场清洁卫生
                                        </td>
                                        <td class="center table-text-lg col-sm-1">
                                            <label>
                                                <input name="jiaoyuneirong[]" type="checkbox" class="ace" value="9"  <php> if(in_array(9 , $jiaoyuneirong )) { echo 'checked="checked"';} </php> />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-text-lg center">会议时间</td>
                            <td colspan="3">
                                <input type="text" name="hy_time[]" class="underline-input" value="{$hy_time[0]}">年
                                <input type="text" name="hy_time[]" class="underline-input" value="{$hy_time[1]}">月
                                <input type="text" name="hy_time[]" class="underline-input" value="{$hy_time[2]}">日
                                <input type="text" name="hy_time[]" class="underline-input" value="{$hy_time[3]}">时
                                <input type="text" name="hy_time[]" class="underline-input" value="{$hy_time[4]}">分
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="table-text-lg center">
                            <textarea name="zongjie" class="form-control" placeholder="班后会总结记录" style="width: 100%;height: 150px;">{$zongjie}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="center" colspan="4">
                                <button type="submit" class="btn btn-sm btn-success">
                                    <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                                    保 存
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div><!-- /.page-content-area -->
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->
    <include file="Common:footer" />
</div><!-- /.main-container -->
<include file="Common:common_js" />

<script>
    jQuery(function($) {
        $('.chosen-select').chosen({allow_single_deselect:true});
        $(window).off('resize.chosen').on('resize.chosen', function() {
            $('.chosen-select').each(function() {
                var $this = $(this);
                $this.next().css({'width': $this.parent().width()});
            })
        }).trigger('resize.chosen');
    });
</script>
</body>
</html>
